Options -Indexes
Require all denied
php_flag engine off
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8
RemoveType .php .phtml .php3 .php4 .php5 .php7 .php8

<FilesMatch "\.(php|phtml|php3|php4|php5|php7|php8|js|exe|bat|sh|cmd|com|scr|msi|jar|vbs|ps1)$">
    Require all denied
</FilesMatch>
